@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
    font-family: 'Avenir';
    src: url('Avenir.otf'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
